<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 todo-panel">
        <div class="header-panel">
            <div class="row">
                <p class="col-xs-offset-1 col-xs-6 col-md-offset-4 col-md-4">
                    Add a new to-do!
                </p>
                <p ng-if="addMessage" class="col-xs-5 col-md-4">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    {{addMessage}}
                </p>
            </div>
        </div>
        <form ng-submit="addTodo()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type the task" 
                    aria-describedby="basic-addon1" ng-model="task.description">
            </div>
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="...">
                    <div ng-init="task.category = 'Select a category'" class="display-inline-block">
                        <button type="button" class="btn btn-default btn-todo-options dropdown-toggle" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">{{task.category}}
                            <i class={{task.icon}} aria-hidden="true"></i>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="text-center" ng-repeat = "category in categories">
                                <a href="" ng-click="task.category = category.name;task.icon = category.icon">{{category.name}}
                                <i class={{category.icon}} aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <date-picker date-value="dateValue"></date-picker>
                </div>
            </div>
            <div class="add-list-btn">
                <button type="submit" class="btn btn-default btn-add-todo" ng-submit="addTodo()">
                    Add to list
                    <i class=" fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 todo-panel">
        <div class="header-panel">
            <p class="text-center">Today's to-do's</p>
        </div>
        <div ng-if="todayTodos.length">
            <ul class="list-group">
                <li ng-repeat = "todo in todayTodos track by $index" class="list-group-item" ng-class="{strike: todo.done}">
                    <input type="checkbox" ng-model="todo.done" ng-change="updateValue(todo)"/>
                    {{todo.description}}, {{todo.category}}
                    <i class={{todo.icon}} aria-hidden="true"></i>
                    <strong> on {{todo.date | date}}</strong>
                </li> 
            </ul>
        </div>
        <p ng-if="!todayTodos.length" class="blank-message">No todo's for today. Looks like a lazy day ahead!</p>
    </div>
</div>
