<div class="row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 todo-panel">
		<div class="header-panel">
			<div class="row">
				<p class="col-xs-offset-1 col-xs-6 col-md-offset-4 col-md-4">
					Done to-do's
				</p>
				<p ng-if="clearDoneMessage" class="col-xs-5 col-md-4">
            		<i class="fa fa-trash-o" aria-hidden="true"></i>
            		{{clearDoneMessage}}
        		</p>
			</div>
		</div>
		<div ng-if="doneTodos.length">
			<ul class="list-group">
				<li ng-repeat = "todo in doneTodos track by $index" class="list-group-item">
					{{todo.description}}, {{todo.category}}
					<i class={{todo.icon}} aria-hidden="true"></i>
					<strong> on {{todo.date | date}}</strong>
				</li>
			</ul>
			<button type="button" class="btn btn-default btn-add-todo" ng-click="clearDoneList()">
		        Clear Done list
		        <i class=" fa fa fa-times" aria-hidden="true"></i>
		    </button>
	    </div>
	    <p ng-if="!doneTodos.length" class="blank-message">No todo's are done. Nothing to display!</p>
	</div>
</div>
