@font-face {
  font-family: 'ToDoFont';
  src: url('cafe.ttf') format('truetype');    
}
body {
	font-family: 'ToDoFont', sans-serif;
	font-weight: bolder;
	letter-spacing: 2px;
	}
.header {
	background-color: #312c32;
	padding: 15px;
	color: #feffff;
}
.header-panel {
	background-color: #312c32;
	padding: 5px;
	color: #feffff;
}
.searchBox{
	padding-left:10px;
	font-size:14px;
}
.searchBox-input {
	background-color: transparent;
	border-radius: 6px;
	outline: none;
	height: 30px;
}
.linkList {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 7px;
}
.linkList li {
	display: inline;
	padding-right: 20px;
}
.linkList li a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	padding: 5px;
}
.linkList li a:hover {
	border-bottom: 2px solid #fff;
}
.input-group {
	margin-top:25px;
	margin-bottom : 25px;
	width:100%;
	padding-left:20%;
	padding-right:20%;
}
.btn-info.active,
.btn-info.active:hover {
 	background-color: #312c32;
    border-color: #312c32;
}
.btn-info.active .text-info {
 	color: #fff;
}
.uib-datepicker-popup.dropdown-menu {
	padding: 0;
	outline: none;
}
.display-inline-block {
	display: inline-block;
}
.add-list-btn {
	text-align: center;
	margin: 20px;
}
.btn-todo-options {
	width: 185px;
}
.btn-add-todo {
	width: 185px;
	background-color: #312c32;
	color: #feffff;
}
.list-group {
	text-align: center;
}
.strike{
	text-decoration: line-through ;
	opacity:0.7;
}
.panel-primary > .panel-heading {
	background-color: #312c32;
	border-color: #312c32;
	color: #fff;
}
.panel-primary {
	border-color: #312c32;
}
.panel {
width: 50%;
}
.todo-panel {
	border-style: ridge;
	border-width: 2px;
	border-color: #312c32;
	border-radius: 2px;
	padding-left:0;
	padding-right:0;
	margin-top:30px;
	text-align: center;
	padding-bottom: 20px;
}
.list-group {
	padding-top:20px;
}
.fa-search {
	font-size:20px;
}
.blank-message{
	margin-top:10px;
}