@font-face {
  font-family: 'ToDoFont';
  src: url('cafe.ttf') format('truetype');    
}
body {
	font-family: 'ToDoFont', sans-serif;
	font-weight: bolder;
	letter-spacing: 2px;
	}
.header {
	background-color: #312c32;
	padding: 15px;
	color: #feffff;
}
.searchBox-input {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 6px;
	outline: none;
	padding: 5px;
	width: 80%;
}
.fa-search{
	position: absolute;
    right: 20px;
    top: 1px;
}
.linkList {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 7px;
}
.linkList li {
	display: inline;
	padding-right: 20px;
}
.linkList li a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	padding: 5px;
}
.linkList li a:hover {
	border-bottom: 2px solid #fff;
}
.view {
	margin-top: 20px;
	color: #312c32;
}

.to-do .input-group {
	margin-bottom : 20px;
}
.btn-info.active,
.btn-info.active:hover {
 	background-color: #312c32;
    border-color: #312c32;
}
.btn-info.active .text-info {
 	color: #fff;
}
.uib-datepicker-popup.dropdown-menu {
	padding: 0;
	outline: none;
}
.display-inline-block {
	display: inline-block;
}
.add-list-btn {
	text-align: center;
	margin: 20px;
}
.btn-todo-options {
	width: 185px;
}
.btn-add-todo {
	width: 185px;
	background-color: #312c32;
	color: #feffff;
}
.list-group {
	text-align: center;
}
